<div class="home-container" ng-controller="navController as navCtrl">
    <div class="board">
        <div id="row1" class="complete">
            <section class="appel">
                <section class="appel--content lessborder" >
                    <div class="step1">
                        <h2>Appel</h2><span id="countdown"></span>
                        <h3 class="message"></h3>
                        <canvas>
                            Votre navigateur ne supporte pas canvas
                        </canvas>
                    </div>
                    <div class="step2">
                    <p class="message">Vous avez fini !</p>
                    <p class="status"></p>
                    <p class="refresh"></p>
                    </div>
                </section>
            </section>
        </div>
    </div>
</div>
