<div ng-init="navCtrl.getData()" class="home-container">
    <nav class="board">
       <div id="row1">
            <section class="appel">
                <section class="appel--content">
                        <h3 class="text">Salut <span class="name">{{account.firstname}}</span> !</h3>
                        <p class="subtitle text">{{currentCourse}}</p>
                        <button class="appel--button text" ng-click="navCtrl.joinList();navCtrl.homeToAppel()">TOUT À FAIT</button>
                </section>
            </section>
        </div>
        <div id="row2">
            <section class="justify">
                <section class="justify--content">
                        <h3 class="text">Vos papiers.</h3>
                        <p class="subtitle text">Des absences à justifier ?</p>
                        <button class="justify--button text" ng-click="navCtrl.homeToJustify()">JE JUSTIFIE</button>
                </section>
            </section>
            <section class="planning">
                <section class="planning--content">
                        <h3 class="text">Mon planning</h3>
                        <p class="subtitle text">Quand ? Quoi ? Où ?</p>
                        <button class="planning--button text" ng-click="navCtrl.homeToPlanning()">JE VÉRIFIE</button>
                </section>
            </section>
        </div>
    </nav>
    <div class="modal">
        <div data-remodal-id="course-does-not-exist">
            <button data-remodal-action="close" class="remodal-close"></button>
            <h1>Erreur</h1>
            <p>
                Le cours auquel vous essayez d'acceder n'existe plus ou n'est pas encore commencé.
            </p>
        </div>

        <div data-remodal-id="course-checkin-over">
            <button data-remodal-action="close" class="remodal-close"></button>
            <h1>Erreur</h1>
            <p>
                Le période d'enregistrement au cours est terminé.
            </p>
        </div>

        <div data-remodal-id="course-verify-over">
            <button data-remodal-action="close" class="remodal-close"></button>
            <h1>Erreur</h1>
            <p>
                La période de vérification est terminé.
            </p>
        </div>
    </div>
</div>
