<div class="main-content">
    <div class="login">
        <div class="title">
            <h2>Bonjour.</h2>
            <p> Connectez-vous sur BePresent</p>
        </div>
        <form name="loginForm" ng-submit="loginCtrl.login(loginCtrl.user)" novalidate>
                <input ng-model="loginCtrl.user.username" type="text" name="username" id="username" placeholder="E-mail">
                <input ng-model="loginCtrl.user.password" type="password" name="password" id="password" placeholder="Password">
                <input type="submit" value="Connexion" class="validate">
            </form>
        <div ng-show="loginCtrl.error" class="error">{{loginCtrl.errorMessage}}</div>
    </div>
</div>
