<div class="home-container">
    <div class="board">
        <div id="row2" class="complete">
           <section class="planning">
            <section class="planning--content lessborder">
               <h2>
                   Emploie du temps
               </h2>
                <table>
                    <tr>
                        <th>Lundi 21 Mars</th>
                        <td >Ingiénierie informatique</td>
                        <td class="hour">09h-12h</td>
                        <td>Développement web</td>
                        <td class="hour last">14h-17h</td>
                    </tr>
                    <tr>
                        <th>Mardi 22 Mars</th>
                        <td>Marketing digital</td>
                        <td class="hour">10h-13h</td>
                        <td>Comportement en société</td>
                        <td class="hour last">14h-15h30</td>
                    </tr>
                    <tr>
                        <th>Mercredi 23 Mars</th>
                        <td>Philosophie de l'internet</td>
                        <td class="hour">09h-12h</td>
                        <td>Design initiatique</td>
                        <td class="hour last">14h-17h</td>
                    </tr>
                    <tr>
                        <th>Jeudi 24 Mars</th>
                        <td></td>
                        <td class="hour"></td>
                        <td>Anglais</td>
                        <td class="hour last">14h30-16h</td>
                    </tr>
                    <tr>
                        <th>Vendredi 25 Mars</th>
                        <td>Expertise : Développement iOs</td>
                        <td class="hour ">09h-12h</td>
                        <td>Communication des entreprises</td>
                        <td class="hour last">13h-16h</td>
                    </tr>
                </table>
            </section>
        </section>
        </div>
    </div>
</div>
